<a href="https://colab.research.google.com/github/envirodatascience/final-project-env617_personalcareproducts/blob/main/wrds_esg_datasets_pull.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

### Set up WRDS

In [ ]:
! pip install wrds

Looking in indexes: https://pypi.org/simple, https://us-python.pkg.dev/colab-wheels/public/simple/
Requirement already satisfied: wrds in /usr/local/lib/python3.9/dist-packages (3.1.6)
Requirement already satisfied: numpy in /usr/local/lib/python3.9/dist-packages (from wrds) (1.22.4)
Requirement already satisfied: pandas in /usr/local/lib/python3.9/dist-packages (from wrds) (1.5.3)
Requirement already satisfied: scipy in /usr/local/lib/python3.9/dist-packages (from wrds) (1.10.1)
Requirement already satisfied: sqlalchemy<2 in /usr/local/lib/python3.9/dist-packages (from wrds) (1.4.47)
Requirement already satisfied: psycopg2-binary in /usr/local/lib/python3.9/dist-packages (from wrds) (2.9.6)
Requirement already satisfied: greenlet!=0.4.17 in /usr/local/lib/python3.9/dist-packages (from sqlalchemy<2->wrds) (2.0.2)
Requirement already satisfied: pytz>=2020.1 in /usr/local/lib/python3.9/dist-packages (from pandas->wrds) (2022.7.1)
Requirement already satisfied: python-dateutil>=2.8.1 in /usr/local/lib/python3.9/dist-packages (from pandas->wrds) (2.8.2)
Requirement already satisfied: six>=1.5 in /usr/local/lib/python3.9/dist-packages (from python-dateutil>=2.8.1->pandas->wrds) (1.16.0)

In [ ]:
# mount google drive
from google.colab import drive
drive.mount('/content/drive')

Drive already mounted at /content/drive; to attempt to forcibly remount, call drive.mount("/content/drive", force_remount=True).

In [ ]:
import wrds
import pandas as pd

In [ ]:
# set up WRDS connection
# un: zgeng
# pwd : 7_gCXK8G+%U9rKw
db = wrds.Connection()

Enter your WRDS username [root]:zgeng
Enter your password:··········
WRDS recommends setting up a .pgpass file.
Create .pgpass file now [y/n]?: y
Created .pgpass file successfully.
You can create this file yourself at any time with the create_pgpass_file() function.
Loading library list...
Done

#### list of wrds libraries

In [ ]:
db.list_libraries()

['aha',
 'aha_annual_survey_hist',
 'aha_hcris_recent',
 'aha_it_survey_recent',
 'aha_sample',
 'ahasamp',
 'audit',
 'audit_audit_comp',
 'audit_common',
 'audit_corp_legal',
 'auditsmp',
 'auditsmp_all',
 'block',
 'block_all',
 'boardex_trial',
 'boardsmp',
 'calcbench_trial',
 'calcbnch',
 'cboe',
 'cboe_all',
 'ciq',
 'ciq_capstrct',
 'ciq_common',
 'ciq_keydev',
 'ciq_pplintel',
 'ciq_ratings',
 'ciq_transactions',
 'ciqsamp',
 'ciqsamp_common',
 'ciqsamp_transcripts',
 'columnar',
 'comp',
 'comp_bank',
 'comp_bank_daily',
 'comp_execucomp',
 'comp_filings',
 'comp_global',
 'comp_global_daily',
 'comp_na_annual_all',
 'comp_na_daily_all',
 'comp_na_monthly_all',
 'comp_segments_hist',
 'comp_segments_hist_daily',
 'comp_snapshot',
 'compa',
 'compb',
 'compg',
 'compm',
 'compsamp_snapshot',
 'compseg',
 'compsnap',
 'contrib',
 'contrib_as_filed_financials',
 'contrib_ceo_turnover',
 'contrib_char_returns',
 'contrib_general',
 'contrib_intangible_value',
 'contrib_kpss',
 'contrib_liva',
 'crsp',
 'crsp_a_ccm',
 'crsp_a_indexes',
 'crsp_a_stock',
 'crsp_a_treasuries',
 'crsp_a_ziman',
 'crsp_q_mutualfunds',
 'crsp_q_ziman',
 'crspq',
 'dealscan',
 'djones',
 'djones_all',
 'dmef',
 'dmef_all',
 'doe',
 'doe_all',
 'etfg_samp',
 'etfgsamp',
 'eurekahedge_sample',
 'eursamp',
 'execcomp',
 'factsamp_all',
 'factsamp_revere',
 'ff',
 'ff_all',
 'fisd',
 'fisd_common',
 'fisd_fisd',
 'fisd_naic',
 'fjc',
 'fjc_linking',
 'fjc_litigation',
 'frb',
 'frb_all',
 'fssamp',
 'gutenberg',
 'hbase_sample',
 'hbsamp',
 'hfrsamp',
 'hfrsamp_hfrdb',
 'ibes',
 'ifgr',
 'ifgrsamp',
 'ims_obp_trial',
 'imssamp',
 'infogroup_business_academic',
 'infogroupsamp_residential',
 'iss_va_vote_us',
 'ktmine_patents_samp',
 'ktsamp',
 'lvnsamp',
 'lvnsamp_all',
 'macrofin',
 'macrofin_comm_trade',
 'markit',
 'markit_cds',
 'markit_cdxconst',
 'markit_red',
 'mfl',
 'mflinks_all',
 'midas',
 'mrktsamp',
 'mrktsamp_cds',
 'mrktsamp_cdx',
 'mrktsamp_msf',
 'msrb',
 'msrb_all',
 'omtrial',
 'optionm',
 'optionm_all',
 'optionmsamp_europe',
 'optionmsamp_us',
 'otc',
 'otc_endofday',
 'phlx',
 'phlx_all',
 'pitchsmp',
 'ppubsamp',
 'ppubsamp_d4d',
 'preqin',
 'preqin_pe',
 'preqin_vc',
 'preqsamp',
 'preqsamp_all',
 'public_all',
 'pwt',
 'pwt_all',
 'reprisk',
 'reprisk_sample',
 'reprisk_v2',
 'repsamp',
 'risk',
 'risksamp',
 'risksamp_all',
 'rq_all',
 'sdc',
 'secsamp',
 'secsamp_all',
 'snapsamp',
 'snl',
 'snl_fundamentals',
 'snlsamp',
 'snlsamp_fig',
 'sp_esg',
 'sustainalyticssamp_all',
 'sustsamp',
 'taqm_2013',
 'taqm_2014',
 'taqm_2015',
 'taqm_2016',
 'taqm_2017',
 'taqm_2018',
 'taqm_2019',
 'taqm_2020',
 'taqm_2021',
 'taqm_2022',
 'taqm_2023',
 'taqmsamp',
 'taqmsamp_all',
 'taqmsec',
 'taqsamp',
 'tass',
 'tfn',
 'totalq',
 'totalq_all',
 'tr_13f',
 'tr_common',
 'tr_dealscan',
 'tr_ds_comds',
 'tr_ds_econ',
 'tr_ds_equities',
 'tr_ds_fut',
 'tr_esg',
 'tr_ibes',
 'tr_insiders',
 'tr_mutualfunds',
 'tr_sdc_ma',
 'tr_tass',
 'tr_worldscope',
 'trace',
 'trace_enhanced',
 'trace_standard',
 'trcstsmp',
 'trdssamp',
 'trdstrm',
 'tresg',
 'trsamp_ds_eq',
 'trsamp_dscom',
 'trsamp_dsecon',
 'trsamp_dsfut',
 'trucost',
 'trucost_carbon',
 'trucost_common',
 'trucost_environ',
 'trucost_fossilfuel',
 'trucost_paris',
 'trucost_risk',
 'trucost_samp',
 'trucost_sector_ff',
 'trucost_sector_revenue',
 'trws',
 'twoiq_samp',
 'twoiqsmp',
 'wappsamp',
 'windsmp',
 'wrds_lib_internal',
 'wrdsapps',
 'wrdsapps_backtest_basic',
 'wrdsapps_backtest_plus',
 'wrdsapps_bondret',
 'wrdsapps_eushort',
 'wrdsapps_evtstudy_lr',
 'wrdsapps_finratio',
 'wrdsapps_finratio_ccm',
 'wrdsapps_finratio_ibes',
 'wrdsapps_finratio_ibes_ccm',
 'wrdsapps_link_comp_eushort',
 'wrdsapps_link_crsp_bond',
 'wrdsapps_link_crsp_factset',
 'wrdsapps_link_crsp_ibes',
 'wrdsapps_link_crsp_optionm',
 'wrdsapps_link_crsp_taq',
 'wrdsapps_link_datastream_wscope',
 'wrdsapps_link_supplychain',
 'wrdsapps_patents',
 'wrdsapps_plink_exec_ciq',
 'wrdsapps_plink_exec_trinsider',
 'wrdsapps_plink_trinsider_ciq',
 'wrdsapps_subsidiary',
 'wrdsapps_windices',
 'wrdsappssamp_all',
 'wrdssec_midas',
 'zacksamp',
 'zacksamp_all']

Methods in the wrds Module


```
db.close()
db.connection()
db.describe_table()
db.get_table()
db.list_tables()
db.raw_sql()
db.get_row_count()
db.list_libraries()
```

### Personal Care companies

#### Map company name to gvkey, cik, and other identifiers

*   dataset: comp.companies
*   industry id: 303020 for Personal Products

In [ ]:
# Run query to understand dataset columns
comp_tst = db.raw_sql("SELECT * FROM comp.company LIMIT 10")

In [ ]:
comp_tst.head()

,conm,gvkey,add1,add2,add3,add4,addzip,busdesc,cik,city,...,priusa,sic,spcindcd,spcseccd,spcsrc,state,stko,weburl,dldte,ipodate
0,A & E PLASTIK PAK INC,001000,None,None,None,None,None,None,None,None,...,01,3089,325.0,978.0,None,None,0.0,None,1978-06-30,None
1,A & M FOOD SERVICES INC,001001,1924 South Utica Avenue,None,None,None,94104,None,0000723576,Tulsa,...,01,5812,420.0,978.0,None,OK,0.0,None,1986-07-31,None
2,AAI CORP,001002,124 Industry Lane,None,None,None,21030-0126,"Textron Systems Corporation designs, develops,...",0001306124,Hunt Valley,...,01,3825,230.0,940.0,None,MD,0.0,www.textronsystems.com,1977-03-31,None
3,A.A. IMPORTING CO INC,001003,7700 Hall Street,None,None,None,63125,"A.A. Importing Company, Inc. designs, manufact...",0000730052,St. Louis,...,01,5712,449.0,976.0,None,MO,3.0,www.aaimporting.com,1992-04-30,None
4,AAR CORP,001004,"One AAR Place, 1100 North Wood Dale Road",None,None,None,60191,AAR Corp. provides products and services to co...,0000001750,Wood Dale,...,01,5080,110.0,925.0,B,IL,0.0,www.aarcorp.com,None,1988-01-01

In [ ]:
# what the columns mean: https://library.unist.ac.kr/libguide/wp-content/uploads/sites/2/2018/11/compustat.pdf
# S&P industry sector code: https://www.spglobal.com/marketintelligence/en/documents/112727-gics-mapbook_2018_v3_letter_digitalspreads.pdf

comp_all = db.raw_sql("SELECT * FROM comp.company")

In [ ]:
comp_all.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 52575 entries, 0 to 52574
Data columns (total 39 columns):
 #   Column    Non-Null Count  Dtype
---  ------    --------------  -----
 0   conm      52575 non-null  object
 1   gvkey     52575 non-null  object
 2   add1      49572 non-null  object
 3   add2      192 non-null    object
 4   add3      34 non-null     object
 5   add4      7 non-null      object
 6   addzip    48903 non-null  object
 7   busdesc   44735 non-null  object
 8   cik       35924 non-null  object
 9   city      49576 non-null  object
 10  conml     52575 non-null  object
 11  costat    52575 non-null  object
 12  county    3622 non-null   object
 13  dlrsn     34138 non-null  object
 14  ein       27183 non-null  object
 15  fax       21042 non-null  object
 16  fic       51404 non-null  object
 17  fyrc      52575 non-null  float64
 18  ggroup    38350 non-null  object
 19  gind      38350 non-null  object
 20  gsector   38350 non-null  object
 21  gsubind   38350 non-null  object
 22  idbflag   52575 non-null  object
 23  incorp    33766 non-null  object
 24  loc       51621 non-null  object
 25  naics     46511 non-null  object
 26  phone     43552 non-null  object
 27  prican    8652 non-null   object
 28  prirow    2100 non-null   object
 29  priusa    47057 non-null  object
 30  sic       51368 non-null  object
 31  spcindcd  26793 non-null  float64
 32  spcseccd  26793 non-null  float64
 33  spcsrc    8459 non-null   object
 34  state     45642 non-null  object
 35  stko      43803 non-null  float64
 36  weburl    25078 non-null  object
 37  dldte     34140 non-null  object
 38  ipodate   16275 non-null  object
dtypes: float64(4), object(35)
memory usage: 15.6+ MB

In [ ]:
# check the digits of industry code to match the document from 
# https://www.spglobal.com/marketintelligence/en/documents/112727-gics-mapbook_2018_v3_letter_digitalspreads.pdf
comp_all.gind

0          None
1        253010
2          None
3        255040
4        201010
          ...
52570    151040
52571    101020
52572    303020
52573    201040
52574      None
Name: gind, Length: 52575, dtype: object

In [ ]:
# https://wrds-www.wharton.upenn.edu/pages/support/manuals-and-overviews/compustat/trucost-esg/wrds-overview-of-sp-esg-trucost/
# retrieve a list of pc companies

comp_pc = db.raw_sql("SELECT conm, gvkey, cik FROM comp.company WHERE gind = '303020'")
comp_pc.to_csv('comp_pc.csv', index=False)

In [ ]:
comp_pc.head()

                conm   gvkey         cik
0  ALBERTO-CULVER CO  001239  0001368457
1   ADRIEN ARPEL INC  001260  0000724989
2        DELSITE INC  001902  0000718007
3      AVON PRODUCTS  001920  0000008868
4          CARME INC  002773  0000357044

In [ ]:
comp_pc.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 311 entries, 0 to 310
Data columns (total 3 columns):
 #   Column  Non-Null Count  Dtype
---  ------  --------------  -----
 0   conm    311 non-null    object
 1   gvkey   311 non-null    object
 2   cik     261 non-null    object
dtypes: object(3)
memory usage: 7.4+ KB

In [ ]:
pc_gvkey = comp_pc.gvkey

In [ ]:
pc_gvkey

0      001239
1      001260
2      001902
3      001920
4      002773
        ...
306    270509
307    272705
308    281468
309    351458
310    353444
Name: gvkey, Length: 311, dtype: object

#### Map to institution id

In [ ]:
# Run query to understand dataset columns
comp_institutionid = db.raw_sql("SELECT * FROM snl.wrds_institutions")
comp_institutionid.to_csv('comp_institutionid.csv', index=False)

### Trucost Common Lookup

In [ ]:
# https://wrds-www.wharton.upenn.edu/data-dictionary/trucost_common/
trucost_map = db.raw_sql("SELECT companyid, companyname, gvkey, institutionid, ticker FROM trucost_common.wrds_companies LIMIT10") 
trucost_map.to_csv('trucost_map.csv', index=False)

In [ ]:
! cp "/content/trucost_map.csv" "/content/drive/MyDrive"

In [ ]:
trucost_map.info()

<class 'pandas.core.frame.DataFrame'>
Int64Index: 21985231 entries, 0 to 485230
Data columns (total 5 columns):
 #   Column         Dtype
---  ------         -----
 0   companyid      float64
 1   companyname    object
 2   gvkey          object
 3   institutionid  float64
 4   ticker         object
dtypes: float64(2), object(3)
memory usage: 1006.4+ MB

### ESG scores for personal care companies

In [ ]:
esg_all = db.raw_sql("SELECT * FROM sp_esg.wrds_esg")
esg_all.to_csv('esg_all.csv', index=False)

In [ ]:
# path = '/content/esg_all.csv'
!cp "/content/esg_all.csv" "/content/drive/MyDrive"

In [ ]:
esg_pc = db.raw_sql("SELECT * FROM sp_esg.wrds_esg WHERE csaindustryname = 'COS Personal Products'")
esg_pc.to_csv('esg_pc.csv', index=False)

In [ ]:
esg_pc.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 25232 entries, 0 to 25231
Data columns (total 40 columns):
 #   Column                         Non-Null Count  Dtype
---  ------                         --------------  -----
 0   scoreid                        25232 non-null  object
 1   dimensionscoreid               25232 non-null  object
 2   criteriascoreid                21916 non-null  object
 3   institutionid                  25232 non-null  float64
 4   assessmentyear                 25232 non-null  float64
 5   scoredate                      25232 non-null  object
 6   mostrecentsequence             25232 non-null  float64
 7   csaindustrymapid               25232 non-null  object
 8   csaindustryname                25232 non-null  object
 9   csaindustrygroupname           25232 non-null  object
 10  csaindustryclassificationname  25232 non-null  object
 11  csasectorname                  25232 non-null  object
 12  campaignname                   25232 non-null  object
 13  campaignstartdate              25232 non-null  object
 14  campaignenddate                25232 non-null  object
 15  campaigntypename               25232 non-null  object
 16  campaigntypecode               25232 non-null  object
 17  csasharinglevelname            25232 non-null  object
 18  csascoretypename               25232 non-null  object
 19  scoretype                      25232 non-null  object
 20  dimensionname                  25232 non-null  object
 21  aspectname                     25232 non-null  object
 22  aspectnote                     643 non-null    object
 23  scorevalue                     24593 non-null  float64
 24  scoreweight                    24403 non-null  float64
 25  scoreyoy                       18319 non-null  float64
 26  industryrank                   24593 non-null  float64
 27  scoreest                       10650 non-null  float64
 28  scoreestwtd                    1420 non-null   float64
 29  msacaseid                      20 non-null     object
 30  msacasedate                    20 non-null     object
 31  msacasetitle                   20 non-null     object
 32  msacasescore                   20 non-null     float64
 33  msacaseimpactlevelname         20 non-null     object
 34  msacaseimpactrating            20 non-null     float64
 35  msacaseresponsename            20 non-null     object
 36  msacaseresponserating          20 non-null     float64
 37  msaimpactid                    19 non-null     object
 38  msaimpactdate                  19 non-null     object
 39  criteriascoreimpact            19 non-null     float64
dtypes: float64(13), object(27)
memory usage: 7.7+ MB

In [ ]:
esg_pc.csaindustrygroupname.value_counts()

Household & Personal Products    25232
Name: csaindustrygroupname, dtype: int64

In [ ]:
# close WRDS connection
db.close()

In [ ]:
# If have time, query financial datasets (EBIT & EBITDA)